<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/nav :: nav"/>
    <div>
        <form role="form" th:action="@{dayContent}" th:object="${dayContent}" method="post">
            <div class="form-group">
                <label for="id">#</label>
                <input type="text" class="form-control" id="id" th:field="*{id}" readonly>
            </div>
            <div class="form-group">
                <label for="dayContentCategory">컨텐츠 분류</label>
                <input type="text" class="form-control" id="dayContentCategory" th:field="*{dayContentCategory}" readonly>
            </div>
            <div class="form-group">
                <label for="name">컨텐츠 이름</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" readonly>
            </div>
            <div class="form-group">
                <label for="level">컨텐츠 레벨</label>
                <input type="text" class="form-control" id="level" th:field="*{level}" readonly>
            </div>
            <div class="form-group">
                <label for="shilling">실링</label>
                <input type="text" class="form-control" id="shilling" th:field="*{shilling}">
            </div>
            <div class="form-group">
                <label for="honorShard">명파</label>
                <input type="text" class="form-control" id="honorShard" th:field="*{honorShard}">
            </div>
            <div class="form-group">
                <label for="leapStone">돌파</label>
                <input type="text" class="form-control" id="leapStone" th:field="*{leapStone}">
            </div>
            <div class="form-group">
                <label for="destructionStone">파괴석</label>
                <input type="text" class="form-control" id="destructionStone" th:field="*{destructionStone}">
            </div>
            <div class="form-group">
                <label for="guardianStone">수호석</label>
                <input type="text" class="form-control" id="guardianStone" th:field="*{guardianStone}">
            </div>
            <div class="form-group">
                <label for="jewelry">1레벨 보석</label>
                <input type="text" class="form-control" id="jewelry" th:field="*{jewelry}">
            </div>
            <div class="form-group">
                <label for="gold">골드</label>
                <input type="text" class="form-control" id="gold" th:field="*{gold}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>