<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default_layout">
<th:block layout:fragment="content">
    <div class="text">캐릭터 데이터</div>
    <div class="dashboard wrap">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>서버</th>
                <th>캐릭터 이름</th>
                <th>전투레벨</th>
                <th>캐릭터 클래스</th>
                <th>캐릭터 이미지</th>
                <th>아이템 레벨</th>
                <th>회원 Id</th>
                <th>chaosSelected</th>
                <th>chaosCheck</th>
                <th>chaosGauge</th>
                <th>guardianSelected</th>
                <th>guardianCheck</th>
                <th>guardianGauge</th>
                <th>createdDate</th>
                <th>lastModifiedDate</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="character : ${characterList}">
                <td th:text="${character.id}">id</td>
                <td th:text="${character.serverName}">serverName</td>
                <td th:text="${character.characterName}">characterName</td>
                <td th:text="${character.characterLevel}">characterLevel</td>
                <td th:text="${character.characterClassName}">characterClassName</td>
                <td><a th:href="@{${character.characterImage}}">이미지 보기</a></td>
                <td th:text="${character.itemLevel}">itemLevel</td>
                <td th:text="${character.member.id}">member</td>
                <td th:text="${character.characterDayContent.chaosSelected}">chaosSelected</td>
                <td th:text="${character.characterDayContent.chaosCheck}">chaosCheck</td>
                <td th:text="${character.characterDayContent.chaosGauge}">chaosGauge</td>
                <td th:text="${character.characterDayContent.guardianSelected}">guardianSelected</td>
                <td th:text="${character.characterDayContent.guardianCheck}">guardianCheck</td>
                <td th:text="${character.characterDayContent.guardianGauge}">guardianGauge</td>
                <td th:text="${character.createdDate}">createdDate</td>
                <td th:text="${character.lastModifiedDate}">lastModifiedDate</td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>