<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default_layout">
<th:block layout:fragment="content">
    <div class="text">재련재료 데이터</div>
    <div class="dashboard wrap">
        <p th:text="|최근 업데이트 ${lastModifiedDate}|"></p>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
<!--                <th>전일 평균 가격</th>-->
<!--                <th>최근 판매 가격</th>-->
                <th>현재 가격</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Market : ${marketList}">
                <td><img th:src="${Market.icon}" th:style="'width: 40px;'"></td>
                <td th:text="${Market.name}">name</td>
<!--                <td th:text="${Market.yDayAvgPrice}">yDayAvgPrice</td>-->
<!--                <td th:text="${Market.currentMinPrice}">currentMinPrice</td>-->
                <td th:text="${Market.recentPrice}">recentPrice</td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>