<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: header"></th:block>
<body>
<nav class="sidebar">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="../resources/logo.jpg" alt="logo">
            </span>
            <div class="text header-text">
                <span class="name">로스트아크</span>
                <span class="profession">임시 데이터</span>
            </div>
        </div>
        <i class="bx bx-chevron-right toggle"></i>
    </header>
    <div class="menu-bar">
        <div class="menu">
            <li class="search-box">
                <i class="bx bx-search icon"></i>
            </li>
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/">
                        <i class='bx bx-data icon'></i>
                        <span class="text nav-text">일일 컨텐츠 수익</span>
                    </a>
                </li>
                <li>
                    <a href="/db/content">
                        <i class='bx bx-data icon'></i>
                        <span class="text nav-text">컨텐츠 데이터</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/db/market">
                        <i class='bx bx-data icon'></i>
                        <span class="text nav-text">재련재료 데이터</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-content">
            <!--
            <li class="">
                <a href="">
                    <i class="bx bx-log-out icon"></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>
            -->
            <li class="mode">
                <div class="moon-sun">
                    <i class="bx bx-moon icon moon"></i>
                    <i class="bx bx-sun icon sun"></i>
                </div>
                <span class="mode-text text">Dark Mode</span>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>
<section class="home">
    <th:block layout:fragment="content"></th:block>
</section>
</body>
<th:block th:replace="fragments/footer :: footer"></th:block>
<script src="../js/index.js"></script>
</html>