<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default_layout">
<th:block layout:fragment="content">
    <div class="text">일일 컨텐츠 수익</div>
    <div class="dashboard wrap">
        <table>
            <thead>
            <tr>
                <th>카테고리</th>
                <th>컨텐츠 이름</th>
                <th>횟수(N수)</th>
                <th>레벨</th>
                <th>수익(골드)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ContentPriceDto : ${contentPriceDtoList}">
                <td th:text="${ContentPriceDto.category}">category</td>
                <td th:text="${ContentPriceDto.contentName}">contentName</td>
                <td th:text="${ContentPriceDto.count}">count</td>
                <td th:text="${ContentPriceDto.level}">level</td>
                <td th:text="${ContentPriceDto.price}">price</td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>