<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/nav :: nav"/>
    <div>
        <div th:id="character_info">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>캐릭터 이름</th>
                    <th>캐릭터 클래스</th>
                    <th>아이템 레벨</th>
                    <th>카오스 던전</th>
                    <th>가디언 토벌</th>
                    <th>저장</th>
                </tr>
                </thead>
                <tbody th:id="character_table">

                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
    // 임시 id
    var testUsername = "qwe2487";
    $.ajax("character/selectedList/",
        {
            method: 'get',
            header: {
                "username": testUsername
            },
            data: {},
            dataType: 'json'
        })
        .done(function (result) {
            var html = '';
            var number = 0;
            result.forEach(c => {
                html += '<tr>';
                html += `<td>${c.id}</td>`;
                html += `<td>${c.characterName}</td>`;
                html += `<td>${c.characterClassName}</td>`;
                html += `<td>${c.itemLevel}</td>`;

                html += '<td>';
                html += `${c.chaosName}, 예상 수익 : ${c.chaosProfit}<br>`;
                if (c.chaos == 0) {
                    html += '<input type="checkbox" style="zoom:1.5;" name="chaosChecked">';
                    html += '<input type="checkbox" style="zoom:1.5;" name="chaosChecked">';
                }
                if (c.chaos == 1) {
                    html += '<input type="checkbox" style="zoom:1.5;" name="chaosChecked" checked>';
                    html += '<input type="checkbox" style="zoom:1.5;" name="chaosChecked">';
                }
                if (c.chaos == 2) {
                    html += '<input type="checkbox" style="zoom:1.5;" name="chaosChecked" checked>';
                    html += '<input type="checkbox" style="zoom:1.5;" name="chaosChecked" checked>';
                }
                html += `<input type="number" value="${c.chaosGauge}"></td>`;

                html += '<td>';
                if (c.guardian == 0) {
                    html += '<input type="checkbox" style="zoom:1.5;" name="chaosChecked">';
                    html += '<input type="checkbox" style="zoom:1.5;" name="chaosChecked">';
                }
                if (c.guardian == 1) {
                    html += '<input type="checkbox" style="zoom:1.5;" name="chaosChecked" checked>';
                    html += '<input type="checkbox" style="zoom:1.5;" name="chaosChecked">';
                }
                if (c.guardian == 2) {
                    html += '<input type="checkbox" style="zoom:1.5;" name="chaosChecked" checked>';
                    html += '<input type="checkbox" style="zoom:1.5;" name="chaosChecked" checked>';
                }
                html += `<input type="number" value="${c.guardianGauge}"></td>`;

                html += `<td><input type="button" onclick="saveInfo(this);" value="SAVE"></td>`;
                html += '</tr>';
                number++;
            });
            $('#character_table').append(html);
        })
        .fail(function (request, status, error) {
            console.log(error);
        });

    function makeSaveData(button) {
        var row = button.parentNode.parentNode;
        var cells = row.getElementsByTagName("td");

        var rowData = {};

        rowData.id = parseInt(cells[0].innerHTML);
        rowData.characterName = cells[1].innerHTML;
        rowData.characterClassName = cells[2].innerHTML;
        rowData.itemLevel = parseFloat(cells[3].innerHTML);

        var checkboxes = cells[4].getElementsByTagName("input");
        rowData.chaos = 0;
        if (checkboxes[0].checked) {
            rowData.chaos++;
        }
        if (checkboxes[1].checked) {
            rowData.chaos++;
        }

        var numberInput = cells[4].getElementsByTagName("input")[2];
        rowData.chaosGauge = parseInt(numberInput.value);

        var guardianCheckboxes = cells[5].getElementsByTagName("input");
        rowData.guardian = 0;
        if (checkboxes[0].checked) {
            guardianCheckboxes.guardian++;
        }
        if (checkboxes[1].checked) {
            guardianCheckboxes.guardian++;
        }

        var guardianInput = cells[5].getElementsByTagName("input")[2];
        rowData.guardianGauge = parseInt(guardianInput.value);

        return rowData;
    }

    function saveInfo(button) {
        var data = makeSaveData(button);
        $.ajax("character",
            {
                method: 'patch',
                data: data,
                dataType: 'json'
            })
            .done(function (result) {
                console.log(result);
            })
            .fail(function (request, status, error) {
                console.log(error);
            });
    }


</script>
</html>