<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/nav :: nav"/>
<div class="row row-cols-2" style="margin-left: 15px;">
    <div class="col-md-9" style="margin-right: 15px;">
        <div style="margin-bottom: 10px;">
            <h2>숙제 체크</h2>
            <input class="btn btn-info" type="button" th:onclick="updateCharacters()" value="캐릭터 정보 갱신">
        </div>
        <div class="row row-cols-3">
            <div class="col-md-4" th:each="character : ${characters}" style="margin-bottom: 15px;">
                <div th:name="characterInfo"
                     style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">
                    <span th:name="characterName" th:text="${character.characterName}"></span>
                    <span th:name="characterClassName" th:text="${character.characterClassName}"></span>
                    <span th:name="itemLevel" th:text="'Lv.'+${character.itemLevel}"></span>
                    <input class="btn btn-primary" type="button" th:onclick="saveTodo([[${character.characterName}]])"
                           value="저장">
                </div>
                <div th:name="character-dayContent">
                    <div th:name="chaosContent" style="background-color: #bacbe6">
                        <span style="font-weight: bold;"
                              th:text="'카오스던전:'+${character.chaosName} +', 예상수익:'+${character.chaosProfit}"
                              th:styleappend="${character.chaosCheck == 2 ? 'text-decoration:line-through; color: #dddddd; background-color: #808080;' : ''}"></span><br>
                        휴식게이지: <input type="number" th:value="${character.chaosGauge}" style="width: 50px">
                        <input th:name="chaos1" type="checkbox" name="chaosChecked" th:checked="${character.chaosCheck>=1}"
                               style="zoom: 1.4">
                        <input th:name="chaos2" type="checkbox" name="chaosChecked" th:checked="${character.chaosCheck==2}"
                               style="zoom: 1.4">
                    </div>
                    <div th:name="guardianContent" style="background-color: #fff3cd">
                        <span style="font-weight: bold;"
                              th:text="'가디언토벌:'+${character.guardianName} +', 예상수익:'+${character.guardianProfit}"
                              th:styleappend="${character.guardianCheck == 2 ? 'text-decoration:line-through; color: #dddddd; background-color: #808080;' : ''}"></span><br>
                        휴식게이지: <input type="number" th:value="${character.guardianGauge}" style="width: 50px">
                        <input th:name="guardian1" type="checkbox" name="guardianChecked"
                               th:checked="${character.guardianCheck>=1}" style="zoom: 1.4">
                        <input th:name="guardian2" type="checkbox" name="guardianChecked"
                               th:checked="${character.guardianCheck==2}" style="zoom: 1.4">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div>
            <h2>숙제 수익</h2>
            <h5 th:text="'총 예상 '+${sumDayContentProfit}+' Gold'"></h5>
            <div th:each="profit : ${sortDayContentProfit}" th:name="profit-list"
                 style="box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; padding: 5px; cursor: pointer;"
                 th:styleappend="|${profit.checked == 2 ? 'text-decoration: line-through; color: #dddddd; box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;' : ''}
                 ${profit.category == '카오스던전' ? 'background-color: #bacbe6;' : ''}
                 ${profit.category == '가디언토벌' ? 'background-color: #fff3cd;' : ''}|"
                 th:onclick="changeProfit([[${profit.characterName}]], [[${profit.category}]])">
                <span th:text="${profit.characterName} + ' / ' + ${profit.category}"></span><br>
                <span th:text="${profit.contentName} + ':' + ${profit.profit} + ' gold'"></span>
            </div>



        </div>
    </div>
</div> <!-- /container -->
</body>
<script>

    var profitList = document.querySelectorAll('div[name="profit-list"]');

    profitList.forEach(function (content) {
        content.addEventListener('mousedown', function () {
            content.style.transform = 'scale(0.95)';
        });

        content.addEventListener('mouseup', function () {
            content.style.transform = 'scale(1)';
        });

        content.addEventListener('mouseover', function () {
            var before = content.style.color;
            content.style.color = 'gray';
            content.addEventListener('mouseout', function () {
                content.style.color = before;
            });
        });


    });


    function changeProfit(characterName, category) {
        console.log(characterName, category);
        var data = {
            characterName: characterName,
            category: category
        }
        $.ajax("/api/character/dayContent",
            {
                method: 'patch',
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: 'json'
            })
            .done(function (result) {
                location.reload();
            })
            .fail(function (request, status, error) {
                console.log(error);
            });
    }

    function makeData(characterName) {
        var characterInfoElements = document.querySelectorAll('div[name="characterInfo"]');
        var characterInfoElement;

        // 캐릭터명을 비교하여 일치하는 요소를 찾음
        for (var i = 0; i < characterInfoElements.length; i++) {
            var nameElement = characterInfoElements[i].querySelector('span[name="characterName"]');
            if (nameElement.textContent === characterName) {
                characterInfoElement = characterInfoElements[i];
                break;
            }
        }

        if (!characterInfoElement) {
            console.error('Character not found.');
            return;
        }

        var characterDayContentElement = characterInfoElement.nextElementSibling;
        var chaosContentElement = characterDayContentElement.querySelector('[name="chaosContent"]');
        var guardianContentElement = characterDayContentElement.querySelector('[name="guardianContent"]');

        var chaos = 0;
        var chaosGauge = parseInt(chaosContentElement.querySelector('input[type="number"]').value);
        if (chaosContentElement.querySelector('[name="chaos1"]').checked) {
            chaos++;
        }
        if (chaosContentElement.querySelector('[name="chaos2"]').checked) {
            chaos++;
        }

        var guardian = 0;
        var guardianGauge = parseInt(guardianContentElement.querySelector('input[type="number"]').value);
        if (guardianContentElement.querySelector('[name="guardian1"]').checked) {
            guardian++;
        }
        if (guardianContentElement.querySelector('[name="guardian2"]').checked) {
            guardian++;
        }

        var character = {
            characterName: characterName,
            chaos: chaos,
            chaosGauge: chaosGauge,
            guardian: guardian,
            guardianGauge: guardianGauge
        };

        console.log(character);
        return JSON.stringify(character);
    }

    function saveTodo(characterName) {
        var data = makeData(characterName);
        $.ajax("/api/character",
            {
                method: 'patch',
                contentType: 'application/json',
                data: data,
                dataType: 'json'
            })
            .done(function (result) {
                location.reload();
            })
            .fail(function (request, status, error) {
                console.log(error);
            });
    }

    function updateCharacters() {
        var url = window.location.href.split('/');
        var username = url[url.length - 1];
        $.ajax("/api/lostark/character",
            {
                method: 'patch',
                contentType: 'application/json',
                headers: {username: username},
                dataType: 'json'
            })
            .done(function (result) {
                location.reload();
            })
            .fail(function (request, status, error) {
                console.log(error);
            });
    }
</script>
</html>